body{ 
    border: 4px double #379a33;
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    font-family:sans-serif;
    background-color:#e5e5fa;
    line-height: 40px;
    }

h2,h3{
    font-family: serif;
}

h3{
    text-decoration: underline;
}

p#bright{
        color:white;
        font-size:27px;
        font-family:cursive;
        border-style:dashed;
        border-color:black;
        border-width: 2px;
        padding-left:28px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 15px;
        background-color: #426aaa;
        margin-right: 680px;
        margin-left: 20px;
        background-image: url(../images/bright-sun.png);
        background-repeat: no-repeat;
   
        }